---
import Layout from '@/layouts/Layout.astro'
import Experience from '@/sections/Experience.astro'
import InstagramCarousel from '@/components/InstagramCarousel.astro'
import MyInstagramCarousel from '@/components/MyInstagramCarousel.astro'
---

<Layout title='Rubén UX/UI - About'>
	<main>
		<section class='wrapper'>
			<h1>🤙 Hey, nice to meet you!</h1>
			<p>
				I think, craft, and play between technology and design. As a curious designer I'm looking for new challenges in
				order to learn more about myself inside the user experience world. Coming from an Industrial Design background
				gave me the opportunity to fill my toolbox with Human Centric design methodologies that came in handy when
				transitioning towards Product Design. I enjoy being involved in the full process of design from research to
				coding. Check my Resume or LinkedIn
			</p>
		</section>
		<Experience />
		<InstagramCarousel />
		<!-- <MyInstagramCarousel /> -->
	</main>
</Layout>
