---
import Layout from '../layouts/Layout.astro'
---

<Layout title='Rubén UX/UI - Contact' description='A UX/UI designer based in Barcelona'>
	<main class='wrapper'>
		<section>
			<div class='boarding-pass__header'>
				<div class='boarding-pass__place'>
					<p class='acronym'>UXI</p>
					<p class='acronym-description'>UX/UI Designer</p>
				</div>
				<img class='airplane' src='/img/airplane-departure-emoji.png' alt='airplane emoji' />
				<div>
					<p class='acronym'>FSD</p>
					<p class='acronym-description'>Fullstack Developer</p>
				</div>
			</div>
			<div class='boarding-pass__content'>
				<div class='boarding-pass__info'>
					<ul>
						<li>
							<p class='label'>Name</p>
							<p>Rubén Castillo</p>
						</li>
						<li>
							<p class='label'>From 📍</p>
							<p>Barcelona</p>
						</li>
						<li>
							<p class='label'>email ✉️</p>
							<p>ruben26rcz@gmail.com</p>
						</li>
					</ul>
					<img class='qr' src='/svg/qr-code-rounded.svg' alt='qr contact code' />
				</div>

				<div class='skills'>
					<h3>Soft Skills</h3>
					<div class='skill'>
						<ul class='bullets'>
							<li class='bullet-true'></li>
							<li class='bullet-true'></li>
							<li class='bullet-true'></li>
							<li class='bullet-true'></li>
							<li class='bullet-false'></li>
						</ul>
						<p>Communication</p>
					</div>
					<div class='skill'>
						<ul class='bullets'>
							<li class='bullet-true'></li>
							<li class='bullet-true'></li>
							<li class='bullet-true'></li>
							<li class='bullet-false'></li>
							<li class='bullet-false'></li>
						</ul>
						<p>Leadership</p>
					</div>
					<div class='skill'>
						<ul class='bullets'>
							<li class='bullet-true'></li>
							<li class='bullet-true'></li>
							<li class='bullet-true'></li>
							<li class='bullet-true'></li>
							<li class='bullet-false'></li>
						</ul>
						<p>Time Managemnet</p>
					</div>

					<div class='skill'>
						<ul class='bullets'>
							<li class='bullet-true'></li>
							<li class='bullet-true'></li>
							<li class='bullet-true'></li>
							<li class='bullet-true'></li>
							<li class='bullet-true'></li>
						</ul>
						<p>Curiosity</p>
					</div>
				</div>
				<div class='skills'>
					<h3>Hard Skills</h3>
					<div class='skill'>
						<ul class='bullets'>
							<li class='bullet-true'></li>
							<li class='bullet-true'></li>
							<li class='bullet-true'></li>
							<li class='bullet-true'></li>
							<li class='bullet-false'></li>
						</ul>
						<p>Visual Design</p>
					</div>
					<div class='skill'>
						<ul class='bullets'>
							<li class='bullet-true'></li>
							<li class='bullet-true'></li>
							<li class='bullet-true'></li>
							<li class='bullet-false'></li>
							<li class='bullet-false'></li>
						</ul>
						<p>Programming</p>
					</div>
					<div class='skill'>
						<ul class='bullets'>
							<li class='bullet-true'></li>
							<li class='bullet-true'></li>
							<li class='bullet-true'></li>
							<li class='bullet-true'></li>
							<li class='bullet-false'></li>
						</ul>
						<p>Research</p>
					</div>
					<div class='skill'>
						<ul class='bullets'>
							<li class='bullet-true'></li>
							<li class='bullet-true'></li>
							<li class='bullet-true'></li>
							<li class='bullet-true'></li>
							<li class='bullet-false'></li>
						</ul>
						<p>3D Modeling</p>
					</div>
				</div>
			</div>
		</section>
	</main>
</Layout>

<style>
	h3 {
		font-size: var(--body-medium);
		padding-bottom: 1rem;
	}
	.boarding-pass__header {
		padding: 1.5rem;
		background-color: var(--primary-400);
		border-radius: 1.5rem 1.5rem 0 0;
		color: var(--neutral-900);
		display: flex;
		justify-content: space-between;
	}
	.acronym {
		font-size: var(--title-large);
		text-align: center;
		font-weight: 900;
	}
	.acronym-description {
		font-size: var(--body-small);
		text-align: center;
	}
	.airplane {
		height: 72px;
	}
	.boarding-pass__content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 1.5rem;
		background-color: var(--neutral-00);
		border-radius: 0 0 1.5rem 1.5rem;
		color: var(--neutral-900);
	}
	.boarding-pass__info {
		display: flex;
		justify-content: space-between;
	}
	.label {
		font-weight: 700;
		font-size: var(--body-small);
	}
	.skills {
		margin-top: 2rem;
	}
	.skills__title {
		margin-bottom: 1rem;
	}
	.skill {
		margin-bottom: 1.5rem;
		& p {
			font-size: var(--body-small);
		}
	}
	.bullets {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
		gap: 0.5rem;
		margin-bottom: 0.5rem;
	}
	.bullet-true {
		height: 7px;
		border-radius: 100px;
		background-color: var(--primary-500);
	}
	.bullet-false {
		height: 7px;
		border-radius: 100px;
		background-color: var(--neutral-100);
	}
	.qr {
		max-height: 200px;
		height: 20vw;
	}
</style>
