---
import Layout from '@/layouts/Layout.astro'
import Hero from '@/sections/Hero.astro'
import ProjectList from '@/sections/ProjectList.astro'
---

<Layout title='Rubén Castillo - UX/UI Designer' description='A UX/UI designer based in Barcelona'>
	<main>
		<Hero />
		<ProjectList />
	</main>
</Layout>

<style>
	main {
		min-height: 100dvh;
	}
</style>
