---
const { avatar, src, alt_img } = Astro.props
interface Props {
	avatar: boolean
	src?: string
	alt_img?: string | undefined
}
---

<span class='chip'>
	{avatar && <img src={src} alt={alt_img} />}
	<slot />
</span>

<style>
	.chip {
		display: inline-flex;
		align-items: center;
		height: 1.5rem;
		font-size: var(--body-small);
		padding: 0 0.5rem;
		border-radius: 0.5rem;
		background-color: var(--neutral-500);
	}
	img {
		margin-right: 0.5rem;
	}
</style>
