---

---

<span class='chip'><slot /></span>

<style>
	.chip {
		display: inline-flex;
		align-items: center;
		height: 1.5rem;
		font-size: var(--body-small);
		padding: 0 0.5rem;
		border-radius: 0.5rem;
		border: 0.5px solid var(--neutral-700);
		background-color: var(--neutral-500);
	}
</style>
