---
const currentDate = new Date()
const currentYear = currentDate.getFullYear()
const pathname = new URL(Astro.request.url).pathname
const currentPath = pathname.slice(1) // remove the first "/"
---

<footer class='wrapper'>
	<hr />
	<div class='footer-content'>
		<nav>
			<ul>
				<li><a href='src/assets/documents/cv_ruben-castillo_ux-ui.pdf' target='_blank'>Resume</a></li>
				<li><a href='https://www.linkedin.com/in/rubenzambrana' target='_blank'>LinkedIn</a></li>
				<li><a href='https://www.github.com/Ruben26rcz' target='_blank'>Github</a></li>
			</ul>
		</nav>
		<nav>
			<ul>
				<li><a class={currentPath === '' ? 'active' : ''} href='/'>Home</a></li>
				<!-- <li><a class={currentPath === 'codeground' ? 'active' : ''} href='/codeground'>CodeGround</a></li> -->
				<li><a class={currentPath === 'about' ? 'active' : ''} href='/about'>About</a></li>
				<li><a class={currentPath === 'contact' ? 'active' : ''} href='/contact'>Contact</a></li>
			</ul>
		</nav>
	</div>
	<div class='signature'>
		<p>Coded with 💛 by Rubén</p>
		<p>© {currentYear}</p>
	</div>
</footer>

<style>
	footer {
		height: var(--footer-height);
		padding-block: 4rem;
	}
	hr {
		margin-bottom: 4rem;
		border: 1px solid var(--neutral-700);
	}
	.footer-content {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 2.5rem;
		padding-bottom: 3rem;
	}

	nav ul {
		display: flex;
		gap: 1.5rem;
	}
	li:hover {
		color: var(--primary-400);
	}

	.active {
		color: var(--primary-400);
	}

	.signature {
		text-align: center;
		font-size: var(--body-small);
	}

	.signature p:first-child {
		padding-bottom: 0.5rem;
	}

	@media (width >= 768px) {
		.footer-content {
			flex-direction: row;
			justify-content: space-between;
		}
	}
</style>
