---
import Nav from '@/components/Nav.astro'
import memojiGIF from '@/assets/video/memoji-ruben.webm'
---

<header class='header wrapper'>
	<a href='/' aria-label='Go to home button'>
		<video autoplay muted poster='/img/memoji-ruben.webp'>
			<source src={memojiGIF} type='video/webm' />
			<track src='/assets/captions/captions_en.vtt' kind='captions' srclang='en' label='english-captions' />
		</video>
	</a>
	<Nav />
</header>

<style>
	header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: var(--header-height);
	}
	a {
		max-width: 7rem;
		min-width: 4rem;
		aspect-ratio: 1/1;
	}
</style>

<script></script>
