---
import { CollectionEntry, getCollection } from 'astro:content'
import Layout from '../../layouts/Layout.astro'

export async function getStaticPaths() {
	const works = await getCollection('work')

	return works.map((work) => ({
		params: { slug: work.slug },
		props: { work },
	}))
}

type Props = {
	work: CollectionEntry<'work'>
}

const { work } = Astro.props
const { Content } = await work.render()
---

<Layout title={`Ruben UX/UI - ${work.slug}`}>
	<main class='wrapper'>
		<Content />
	</main>
</Layout>

<style>
	.main {
		min-height: 100dvh;
	}
</style>
