---
import Layout from '../../layouts/Layout.astro'
import works from '../../data/works.json'
const work = works.find((work) => work.title === 'Aventuralia')
import ProjectHero from '@/sections/ProjectHero.astro'
---

<Layout title={`Ruben UX/UI - ${work?.slug}`} description={work?.description}>
	<main class='wrapper'>
		<ProjectHero work={work} />
		<section class='content'>
			<a
				class='primary-button'
				target='_blank'
				href='https://xd.adobe.com/view/b78f2835-fc1d-4ffd-9ee9-b971e54118a6-e2dc/?fullscreen'>Play the prototype 🖥️</a
			>
		</section>
	</main>

	<style>
		img {
			width: 100%;
			object-fit: cover;
		}
		h1 {
			font-family: 'TexasLED';
			color: var(--primary-400);
			font-weight: 400;
		}
		h2 {
			margin-block: 1rem;
			font-weight: 500;
		}
		.hero-project {
			margin-bottom: 4rem;
		}
		.content > * {
			margin-bottom: 2rem;
		}
		.figma-proto {
			display: none;
			border: 1px solid var(--neutral-950);
		}
		p {
			margin-block: 1rem;
		}
	</style>
</Layout>
