---

---

<section class='wrapper'>
	<h2>Experience</h2>
	<div>
		<h3>EDUCATION</h3>
		<div>
			<h4>Master's Degree in CX, UCD & UX/UI</h4>
			<p>BAU - Design College of Barcelona</p>
		</div>
		<div>
			<h4>Bootcamp Full Stack Developer</h4>
			<p>Nuclio - Digital School</p>
		</div>
		<div>
			<h4>Engineering Industrial Design Degree</h4>
			<p>ELISAVA - Pompeu Fabra</p>
		</div>
	</div>
	<div>
		<h3>EXPERIENCE</h3>
		<div>
			<h4>Product Engineer and Web Designer</h4>
			<p>Insorvet</p>
		</div>
		<div>
			<h4>Industrial Designer Junior</h4>
			<p>Vallfirest Forestry Technologies</p>
		</div>
		<div>
			<h4>Interior Design Intern</h4>
			<p>Marina Barcelona 92 S.A.</p>
		</div>
	</div>
	<div>
		<h3>ADDITIONAL INFO</h3>
		<div>
			<h4>3D Print Service Wroldwide</h4>
			<p>3DelightBCN</p>
		</div>
	</div>
</section>

<style>
	h3 {
		font-family: 'TexasLED';
		font-weight: 400;
		color: var(--primary-400);
		font-size: var(--title-small);
	}
</style>
