---

---

<section class='wrapper'>
	<h2>What about my career?</h2>
	<div class='content'>
		<div>
			<h3>EDUCATION</h3>
			<div>
				<h4>Master's Degree in CX, UCD & UX/UI</h4>
				<p>BAU - Design College of Barcelona</p>
			</div>
			<div>
				<h4>Bootcamp Full Stack Developer</h4>
				<p>Nuclio - Digital School</p>
			</div>
			<div>
				<h4>Engineering Industrial Design Degree</h4>
				<p>ELISAVA - Pompeu Fabra</p>
			</div>
		</div>
		<div>
			<h3>EXPERIENCE</h3>
			<div>
				<h4>UX/UI Lead</h4>
				<p>Boehringer Ingelheim</p>
			</div>
			<div>
				<h4>Industrial Designer Junior</h4>
				<p>Vallfirest Forestry Technologies</p>
			</div>
			<div>
				<h4>Interior Design Intern</h4>
				<p>Marina Barcelona 92 S.A.</p>
			</div>
		</div>
	</div>
</section>

<style>
	.content {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	h2 {
		margin-bottom: 2rem;
	}
	h3 {
		font-family: 'TexasLED';
		font-weight: 400;
		color: var(--primary-400);
		font-size: var(--body-large);
		margin-bottom: 1rem;
	}
	h4 {
		font-size: var(--body-medium);
		font-weight: 800;
	}
	.content div {
		margin-bottom: 1.5rem;
	}
	@media (width >= 768px) {
		.content {
			flex-direction: row;
		}
	}
</style>
