---
import InstagramCarousel from '@/components/InstagramCarousel.astro'
---

<section>
	<div class='wrapper title'>
		<h2>When I’m not in the digital world, I...</h2>
	</div>
	<InstagramCarousel />
</section>

<style>
	section {
		padding-block: 2rem;
	}
	.title {
		padding-bottom: 3rem;
	}

	h2 {
		margin-bottom: 1rem;
		font-size: var(--title-small);
	}
</style>
