---
import InstagramCarousel from '@/components/InstagramCarousel.astro'
---

<section>
	<div class='wrapper title'>
		<h3>When I’m not in the digital world, I...</h3>
	</div>
	<InstagramCarousel />
</section>

<style>
	section {
		padding-block: 2rem;
	}
	.title {
		padding-bottom: 3rem;
	}

	h3 {
		margin-bottom: 1rem;
	}
</style>
