---
import ProjectCard from '@/components/ProjectCard.astro'
import { getCollection } from 'astro:content'
const works = await getCollection('work')
---

<section class='wrapper'>
	<ul class='projects-list'>
		{
			works.map((work) => (
				<li class='project'>
					<ProjectCard project={work} />
				</li>
			))
		}
	</ul>
</section>

<style>
	ul {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
		gap: 2rem;
	}
</style>
