---
import ProjectCard from '@/components/ProjectCard.astro'
import works from '@/data/works.json'
---

<section class='wrapper'>
	<ul class='projects-list'>
		{
			works.map((work) => (
				<li class='project'>
					<ProjectCard work={work} />
				</li>
			))
		}
	</ul>
</section>

<style>
	ul {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(336px, 1fr));
		gap: 1.5rem;
	}
</style>
